<div id="fondo" class="bg-imagen"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="texto-versiculo">
            <p>
                "¡Graba mi nombre en tu corazón! ¡Graba mi imagen en tu brazo!<br>
                ¡Tan fuerte es el amor como la muerte! ¡Tan cierta es la pasión como la tumba!<br>
                ¡El fuego del amor es una llama que Dios mismo ha encendido!<br>
                ¡No hay mares que puedan apagarlo, ni ríos que puedan extinguirlo!"<br>
                <span class="versiculo-primary">CANTARES 8:6-7 TLA</span>
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="texto-cuenta">
            <h1>Faltan</h1>
            <div class="time-countdown">
                <ul>
                    <li class="count-bg-one radius"><span id="days">{{month}}</span>Meses</li>
                    <li class="count-bg-one radius"><span id="days">{{day}}</span>Dias</li>
                    <li class="count-bg-two radius"><span id="hours">{{hours}}</span>Horas</li>
                    <li class="count-bg-three radius"><span id="minutes">{{minutes}}</span>Minutos</li>
                    <!-- <li class="count-bg-four radius"><span id="seconds">{{seconds}}</span>Segundos</li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="texto-historia">
            <p>
                “Cada historia de amor es diferente <br>
                pero la nuestra es única”
            </p>
        </div>
    </div>
    <div class="row">
        <div class="card-group">
            <div class="card">
                <img src="assets/foto1.jpg" class="card-img-top" alt="Responsive image">
            </div>
            <div class="card">
                <img src="assets/foto2.jpg" class="card-img-top" alt="Responsive image">
            </div>
            <div class="card">
                <img src="assets/foto3.jpeg" class="card-img-top" alt="Responsive image">
            </div>
        </div>
    </div>
    <div class="row informacion" id="ceremonia">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">LA CEREMONIA</h5>
              <p class="card-text">LA CEREMONIA</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text" style="text-align: right;">La ceremonia se realizará el 15 de Octubre a las 16:00 hs
                en el complejo “Gilgal”, Bialet Massé, Córdoba.
                Al finalizar nos quedaremos a celebrar en el mismo lugar.</p>
              <a href="#" class="btn btn-primary"> Ver ubicación</a>
            </div>
          </div>
        </div>
    </div>
    <div class="row informacion" id="vestimenta">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">VESTIMENTA</h5>
              <p class="card-text">ELEGANTE SPORT</p>
              <p class="card-text">
                Nuestro casamiento será al aire libre,
                sugerimos llevar abrigo y calzado cómodo.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6" id="regalos">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text" style="text-align: right;">El mejor regalo es tu presencia !
                Pero si deseas realizarnos un regalo, te mostramos
                a continuación una lista con las cosas que nos
                hacen falta.</p>
              <a href="#" class="btn btn-primary"> Ver lista de regalos</a>
            </div>
          </div>
        </div>
    </div>
    <div class="row informacion" id="asistencia">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">CONFIRMACIÓN</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card informacion">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text" style="text-align: right;">Es importante para nosotros saber si vamos a poder contar con tu
                presencia en este día especial.</p>
                <p class="card-text" style="text-align: right;">Te comentamos que para ello la tarjeta tiene un valor de $2500,
                    el cual podrás abonar haciendo una transferencia a nuestro CBU</p>
                    <p class="card-text" style="text-align: right;">ALIAS: “BODA.HERNAN.DEBORA
                        CBU: 0720205888000043002436</p>
                        <p class="card-text" style="text-align: right;">Además, te contamos también que es necesario que puedas
                            completar el siguiente formulario para que podamos saber que estas
                            anotado</p>
              <a href="#" class="btn btn-primary">Ir al formulario</a>
            </div>
          </div>
        </div>
    </div>
    <div class="row informacion" style="text-align: right !important;">
        <div class="">
            <h1>Los amamos</h1>
            <p>Herni y Debo</p>
        </div>
    </div>
</div>
<footer style="background-color: rgba(0, 0, 0, 0.05);">
    <div class="text-center p-4" >
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <p class="text-uppercase" href="ceremonia">CEREMONIA</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <p class="text-uppercase" href="vestimenta">VESTIMENTA</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <p class="text-uppercase" href="regalos">LISTA DE REGALOS</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <p class="text-uppercase" href="asistencia">CONFIRMACIÓN DE ASISTENCIA</p>
            </div>
        </div>
    </div>
    <div class="text-center p-4">
        Débora y Hernan | 15-10-2022
    </div>
</footer>
<!-- <script src="script.js"></script> -->
